.DS_Store
*.aux
*.log
*.out
*.swp
*.dvi
*.ps
*~
balanced_paren_dynamic.tex
balanced_paren_static.tex
branch_reset.tex
cond_backref.tex
cond_lookaround.tex
cont_line.tex
date.tex
email_addr.tex
example_dnet.tex
example_java.tex
example_perl.tex
example_python.tex
extract_filename.tex
fixfloat.tex
ip.tex
matchclosetag_greedy.tex
matchclosetag_lazy.tex
thousandsep_1.tex
thousandsep_2.tex
time12.tex
time24_1.tex
time24_2.tex
url.tex
parse_csv.tex
quoted_string.tex
